/* Geral */
* {
    padding: 0;
    margin: 0;
    font-family: "Ubuntu", sans-serif;
}

body {
    background: linear-gradient(180deg, #594cee 0%, #8dd0f5 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.hide {
    display: none;
}

.container {
    background-color: #5c54ed;
    box-shadow: rgba(0, 0, 0, .24) 0px 3px 8px;
    padding: 2rem;
    color: #fdfdfd;
    border-radius: 1rem;
}

/* Form */
.form h3 {
    margin-bottom: 1rem;
}

.form-input-container {
    display: flex;
}

.form input {
    padding: .8rem;
    border: none;
    flex: 1;
    border-radius: 4px;
}

.form button {
    padding: 8rem;
    min-width: 50px;
    margin-left: 8px;
    background-color: #8dd0f5;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}